gnunet-service-namestore
gnunet-namestore
gnunet-namestore-fcfsd
test_namestore_api_lookup_nick
test_namestore_api_lookup_private
test_namestore_api_lookup_public
test_namestore_api_lookup_shadow
test_namestore_api_lookup_shadow_filter
test_namestore_api_monitoring
test_namestore_api_monitoring_existing
test_namestore_api_remove
test_namestore_api_remove_not_existing_record
test_namestore_api_store
test_namestore_api_store_update
test_namestore_api_zone_iteration
test_namestore_api_zone_iteration_nick
test_namestore_api_zone_iteration_specific_zone
test_namestore_api_zone_iteration_stop
test_plugin_namestore_postgres
test_plugin_namestore_sqlite
