*~
*.a
*.la
*.lo
*.log
*.o
*.orig
*.rej
*.swp
*.trs
.deps/
.libs/
.svn/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gnunet_config.h
gnunet_config.h.in
install-sh
libtool
ltmain.sh
lynXified.*
missing
po/*.gmo
pkgconfig/*.pc
src/*/*.conf
stamp-h1
test-driver
INSTALL
confdefs.h
confdefs.c
confdefs.err
